.App {
  font-family: sans-serif;
}
.CaseStudy_btn {
  width: 140px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: black;
  margin-left: 20px;
  color: white;
}
.Payment_box {
  width: 700px;
  height: 440px;
  margin: auto;
}
.Flex {
  display: flex;
}
